.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
}

.task-item__task {
  color: #97e8ff;
  align-self: center;
  font-weight: bold;
}

.task-item__checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.task-item__increase-button,
.task-item__decrease-button {
  min-height: 60%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  color: #97e8ff;
  font-size: 20px;
  font-weight: bold;

  line-height: 1;
  cursor: pointer;

  transition: transform 0.1s;
}

.task-item__increase-button:hover,
.task-item__decrease-button:hover {
  transform: scale(1.2);
  transform-origin: center;
}

.task-item__amount {
  color: #97e8ff;
  margin: 0 5px;
  font-weight: bold;
}

.task-item__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: 1px #97e8ff solid;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  margin: 4px 0 0 20px;
}

.task-item__checkmark {
  position: absolute;
  top: 40%;
  right: -5px;

  transform: translateY(-50%);

  opacity: 0;
  pointer-events: none;
}

.task-item__checkmark_enabled {
  opacity: 1;
}
