.main-objectives {
  background-color: rgba(19, 21, 47, 0.5);
  border: 2px #15b1ff solid;
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  box-sizing: border-box;
}

.main-objectives__heading {
  color: #97e8ff;
  font-size: 22px;
  text-decoration: underline;
  margin: 10px 0 10px 0;
}

.main-objectives__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  gap: 5px;
}

.main-objectives__countdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0 15px 0;
  font-variant-numeric: tabular-nums;
}

.main-objectives__countdown-text {
  color: #97e8ff;
  font-size: 12px;
  font-weight: 500;
}

.main-objectives__countdown {
  color: #97e8ff;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.main-objectives__days-left {
  color: #97e8ff;
  font-weight: bold;
}

.main-objectives__days-left_red {
  color: red;
}

.main-objectives__time-left {
  font-family: monospace;
  font-size: 16px;
  font-weight: 200;
  line-height: 25px;
  font-variant-numeric: tabular-nums;
}
