.main-objectives {
  background-color: #1c1f3f;
  border: 2px #15b1ff solid;
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.main-objectives__heading {
  color: #97e8ff;
  font-size: 22px;
  text-decoration: underline;
  margin: 10px 0 10px 0;
}

.main-objectives__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  gap: 5px;
}

.main-objectives__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 600;
}

.main-objectives__checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-objectives__objective {
  color: #97e8ff;
  align-self: center;
  font-weight: bold;
}

.main-objectives__amount {
  color: #97e8ff;
  margin: 0 5px;
  align-self: center;
  font-weight: bold;
}

.main-objectives__decrease-button,
.main-objectives__increase-button {
  font-size: 22px;
  color: #97e8ff;
  background: none;
  padding: 0;
  align-self: center;
}

.main-objectives__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  align-self: center;
  border: 1px #97e8ff solid;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  margin: 3px 0 0 20px;
}

.main-objectives__countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0 15px 0;
}

.main-objectives__countdown-text {
  color: #97e8ff;
  font-size: 12px;
  font-weight: 500;
}

.main-objectives__countdown {
  color: #97e8ff;
  font-size: 16px;
  font-weight: 600;
}

.main-objectives__days-left {
  color: #97e8ff;
  font-weight: bold;
  margin: 0 8px 0 0;
}
