.daily-quests {
  background-color: #1c1f3f;
  border: 2px #15b1ff solid;
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.daily-quests__heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0 0 0;
  gap: 8px;
  max-height: 30px;
}

.daily-quests__heading-icon {
  border: 1px #97e8ff solid;
  padding: 1.5px;
}

.daily-quests__heading {
  color: #97e8ff;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px #97e8ff solid;
  padding: 0 10px 0 10px;
  line-height: 18pt;
}

.daily-quests__list-heading {
  color: #97e8ff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin: 10px 0 5px 0;
}

.daily-quests__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  gap: 5px;
}

.daily-quests__warning {
  color: #97e8ff;
  font-size: 10px;
  font-weight: 600;
  width: 70%;
  align-self: center;
  text-align: start;
  margin: 15px 0 10px 0;
}

.daily-quests__penalty-text {
  color: red;
}

.daily-quests__countdown-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 0 15px 0;
}

.daily-quests__countdown-text {
  color: #97e8ff;
  font-size: 12px;
}

.daily-quests__countdown {
  color: #97e8ff;
  font-family: monospace;
  font-size: 16px;
  line-height: 25px;
  font-weight: bold;

  font-variant-numeric: tabular-nums;
}

.daily-quests__countdown_red {
  color: red;
}
