.signin {
  min-height: 100vh;
  max-width: 100vw;
  height: fit-content;
  gap: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.signin-form__container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1f3f;
  border: 2px #15b1ff solid;
}

.signin-form__exit-button {
  position: absolute;
  top: -45px;
  right: -6px;
  padding: 0;
  font-size: 32px;
  font-weight: bold;
  color: #97e8ff;
  width: 30px;
  border: none;
  background: none;

  transition: transform 0.2s ease;
}

.signin-form__exit-button:hover {
  color: #15b1ff;
  transform: scale(1.05);
}

.signin-form__footer {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 300px 0;
  padding: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1f3f;
  border: 2px #15b1ff solid;
}

.signin-form__footer-text {
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.signin-form__footer-link {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #97e8ff;

  transition: transform 0.2s ease;
}

.signin-form__footer-link:hover {
  cursor: pointer;
  color: #15b1ff;
  transform: scale(1.05);
}
