.home__page {
  min-height: 100vh;
  max-width: 100vw;
  height: fit-content;
  margin: 0;
  padding: 0 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  color: #97e8ff;
}
