.player-profile {
  display: flex;
  flex-direction: row;
  gap: 5px;
  max-width: 60%;
}

.player-profile__left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-profile__image-container {
  width: 70px;
  height: 70px;
  background-color: grey;
  border: 1px solid #15b1ff;
}

.player-profile__image {
  width: 100%;
  height: 100%;
}

.player-profile__right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  gap: 2px;
}

.player-profile__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.player-profile__info-label {
  font-size: 8px;
  font-weight: bold;
  width: fit-content;
  color: #15b1ff;
}

.player-profile__info-text {
  color: #15b1ff;
  font-weight: 400;
}

.player-profile__level-label {
  font-size: 10px;
  font-weight: bold;
  width: fit-content;
  color: #15b1ff;
}

.player-profile__level {
  color: #c1f31c;
}

.player-profile__status {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.player-profile__hp,
.player-profile__mp {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.player-profile__hp-icon,
.player-profile__mp-icon {
  max-width: 10px;
  max-height: 15px;
  align-self: center;
}

.player-profile__hp-container,
.player-profile__mp-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.player-profile__hp-text,
.player-profile__mp-text {
  margin: 0 4px 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.player-profile__status-label {
  font-size: 6px;
  font-weight: 600;
  color: #97e8ff;
}

.player-profile__status-text {
  font-size: 6px;
  color: #97e8ff;
}

.player-profile__hp-bar,
.player-profile__mp-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5px;
  border: 1px solid #97e8ff;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
}

.player-profile__hp-bar-level,
.player-profile__mp-bar-level {
  background-color: #97e8ff;
  border-radius: 10px;
  width: 95%;
  height: 40%;
  border: none;
}
