.footer {
  max-width: 100vw;
  background-color: #13152f;
}

.footer__container {
  min-height: 100px;
  border-top: solid #15b1ff 2pt;
}

.footer__logo {
  min-width: 120px;
  width: 20%;
  margin: 15px 0 0 15px;
  display: flex;
}

.footer__nav {
  list-style-type: none;
  margin: 20px 0 30px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: large;
}

.footer__nav-button {
  width: max-content;
  font-family: "arimo", "Helvetica Neue", sans-serif;
  font-size: 14px;
  padding: 0;
  color: #97e8ff;
  cursor: pointer;
  border: none;
  background: none;
}

.footer__nav-button:hover {
  font-weight: bold;
  color: #15b1ff;
}

.footer__copyright {
  width: max-content;
  font-size: 14px;
  color: #97e8ff;
  padding: 0 0 15px 15px;
}
