/* .change-password__container {
  background-color: rgba(19, 21, 47, 0.5);
  border: 2px #15b1ff solid;
  height: fit-content;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
  margin: 0 0 15px 0;
} */

.change-password__title {
  color: #97e8ff;
  font-size: 16px;
  margin: 0 0 10px 0;
}
