.shop-item-modal {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 0;
}

.shop-item-modal__title {
  color: #97e8ff;
  font-weight: 700;
  font-size: 24px;
  margin: 0 0 10px 0;
}

.shop-item-modal__image-cont {
  width: 100%;
  border: #15b1ff 1px solid;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.shop-item-modal__image {
  width: 70%;
  height: 70%;
}

.shop-item-modal__specs-section {
  border: #97e8ff 1px solid;
  max-height: 100px;
  margin: 14px 0 10px 0;
  text-align: left;
  display: flex;
  justify-content: center;
}

.shop-item-modal__specs {
  padding: 4px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  list-style-type: none;
}

.shop-item-modal__specs-divide {
  color: #97e8ff;
  font-size: 12px;
}

.shop-item-modal__specs-item {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.shop-item-modal__specs-label {
  color: #97e8ff;
  font-size: 12px;
  font-weight: 600;
}

.shop-item-modal__specs-name {
  color: white;
  font-size: 11px;
}

.shop-item-modal__specs-type {
  color: white;
  font-size: 11px;
}

.shop-item-modal__specs-level {
  color: #acff11;
  font-size: 11px;
}

.shop-item-modal__specs-rarity {
  color: #00ff00;
  font-size: 11px;
}

.shop-item-modal__specs-qty {
  color: white;
  font-size: 11px;
}

.shop-item-modal__specs-effect {
  color: #00ff00;
  font-size: 11px;
}

.shop-item-modal__desc {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 5px 0 5px;
  margin: 0 0 30px 0;
}

.shop-item-modal__desc-title {
  color: #97e8ff;
  font-size: 14px;
  text-align: left;
}

.shop-item-modal__desc-text {
  color: white;
  text-align: left;
  font-size: 12px;
}

.shop-item-modal__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}

.shop-item-modal__qty-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 50%;
}

.shop-item-modal__decrease,
.shop-item-modal__increase {
  display: flex;
  align-self: center;
  justify-self: center;
  color: white;
  background: none;
  padding: 0;
  font-weight: 700;
  font-size: 28px;
}

.shop-item-modal__qty-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #97e8ff 1px solid;
  width: 80px;
  box-sizing: border-box;
}

.shop-item-modal__qty {
  color: white;
  font-weight: 600;
  font-size: 26px;
}

.shop-item-modal__message {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px 0;
}

.shop-item-modal__message_colour {
  color: #00ff00;
}

.shop-item-modal__button {
  background: none;
  padding: 5px;
  border-radius: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
  height: 40px;
  width: 40%;

  transition: transform 0.2s ease;
}

.shop-item-modal__button--buy {
  border: #97e8ff 2.5px solid;
  color: #97e8ff;
}

.shop-item-modal__button--buy:not(:disabled):hover {
  border: #15b1ff 2.5px solid;
  color: #15b1ff;
  transform: scale(1.01);
}

.shop-item-modal__button--sell {
  color: #ff0000;
  border: #ff0000 2.5px solid;
}

.shop-item-modal__button--sell:not(:disabled):hover {
  transform: scale(1.01);
}

.shop-item-modal__button:disabled {
  opacity: 0.5;
  cursor: default;
  transform: none;
}
