.raids__page {
  min-height: 100vh;
  max-width: 100vw;
  height: fit-content;
  margin: 0;
  padding: 0 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.raids__title {
  font-size: 34px;
  font-weight: bolder;
  min-width: 100%;
  margin: 15px 0 0 0;
  box-sizing: border-box;
  color: #97e8ff;
  background-color: #1c1f3f;
  border: 2px #15b1ff solid;
}
