.start {
  min-height: 100vh;
  max-width: 100vw;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.start__logo {
  width: 90%;
  margin: 100px 0 200px 0;
}

.start__button {
  margin: 0 0 300px 0;
  width: 90%;
  font-size: 36px;
  font-weight: bold;
  color: #97e8ff;
  cursor: pointer;
  border: 5pt solid;
  background: none;
}

.start__button:hover {
  color: #15b1ff;
  background-color: rgba(151, 232, 255, 0.1);
}
