.start {
  min-height: 100vh;
  max-width: 100vw;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.start__logo {
  width: 90%;
  margin: 100px 0 200px 0;
}

.start__button {
  margin: 0 0 300px 0;
  padding: 10px;
  width: 98%;
  max-height: min-content;
  font-size: 34px;
  font-weight: bold;
  color: #97e8ff;
  cursor: pointer;
  border: 5px solid;
  background: none;

  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.start__button:hover {
  color: #15b1ff;
  background-color: rgba(151, 232, 255, 0.1);
  transform: scale(1.02);
}
